@import url(style_estrutura_paginas.css);

#carrinho{
    background-color: aqua;
    width: 1000px;
    min-height: 750px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.item{
    width: 600px;
    height: 150px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid var(--cor_suave);
}

.img-item{
    width: 60px;
    height: 60px;
}

.input-item{
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
}

.img-remover{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#valores-carrinho{
    width: 550px;
    min-height: 450px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

#valores-carrinho h2{
    margin: 20px 0px;
    text-align: center;
}

.valor{
    background-color: aqua;
    width: 100%;
    text-align: end;
}

button{
    width: 150px;
    height: 40px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

